header {
  background-color: lightblue;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

p {
  margin: 10px 0 40px 0;
  color: gray;
}

h1 {
  font-weight: bold;
}

td {
  padding: 0px 110px 20px 20px;
  color: white;
  position: relative;
  left: 200px;
}

.container-header {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-bottom: 200px;
  text-decoration: none;
}

.container-main {
  text-align: center;
  margin-bottom: 75px;
  background-color: lightblue;
  padding-bottom: 100px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.container-footer {
  text-align: center;
  margin-bottom: 200px;
}

.container-big-page {
  padding: 10px 70px 0 20px;
  line-height: 2;
  margin-bottom: 200px;
}

.paragraph-try-free {
  text-align: center;
  width: 60%;
  margin: 0 auto 250px auto;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  position: absolute;
  left: 50px;
  top: 50px;
}

.button-try-free {
  background: white;
  padding: 10px 45px 10px 45px;
  color: purple;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  right: 100px;
  top: 50px;
  text-decoration: none;
}

.start-free {
  background: white;
  padding: 10px 45px 10px 45px;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: 30px 0 50px 0;
  text-decoration: none;
  background-color: #a72693;
}

.start-free:hover {
  background-color: pink;
}

.mockup {
  width: 60%;
}

.slogan {
  width: 50%;
  margin: 30px auto 50px auto;
  font-weight: 100;
  color: gray;
}

.users {
  width: 60%;
  float: left;
}

.big-offer {
  font-size: 2rem;
  font-weight: bolder;
}

.paragraph-free-text {
  margin: 0 auto 0 auto;
}

.info {
  background-color: hsl(192, 100%, 9%);
  height: 300px;
  padding: 50px 0 50px 80px;
  padding-bottom: 200px;
}

.huddle-bottom {
  margin-bottom: 10px;
}

ion-icon {
  background-color: white;
  border-radius: 5px;
  position: relative;
  left: 0px;
  margin: 0 10px;
}

.foot-p {
  padding-left: 10px;
  padding-top: 15px;
  color: white;
}

.info-left {
  float: left;
}

.links {
  float: left;
}

.email-input {
  width: 275px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

.subscribe {
  text-align: right;
}

.subscribe-button {
  padding: 10px 50px 10px 50px;
  height: 50px;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-right: 12px;
}
